div {
    color: green;
}

p {
    color: green;
}

.red-p {
    color: red;
}

.blue-p {
    color: blue;
}

.blue-p span {
    color: yellow;
}

strong span {
    color: pink;
}

[data-foo] {
    color: violet;
}

.super-strange-paragraph span:hover span {
    color: red;
}


